body {
  padding-top: 50px;
}
#header {
  display: flex;
}
#header .back {
  width: .5rem;
  position: absolute;
}
#header .back a {
  display: block;
  width: .48rem;
  height: .48rem;
  text-align: center;
}
#header .back a i {
  font-size: .4rem;
  color: #fff;
  font-weight: normal;
}
#header h3 {
  flex: 1;
  text-align: center;
  line-height: .5rem;
  color: #fff;
  font-size: .18rem;
}
#mian {
  position: relative;
}
#mian ul {
  padding-top: .2rem;
  font-size: .14rem;
}
#mian ul li {
  width: 100%;
  height: 128px;
}
#mian ul li a {
  display: flex;
}
#mian ul li a .img-box {
  float: left;
  padding-left: .18rem;
}
#mian ul li a .img-box img {
  width: .85rem;
  height: .85rem;
}
#mian ul li a .wares-right {
  flex: 1;
  padding-right: .08rem;
  padding-left: .24rem;
}
#mian ul li a .wares-right .wares-right-top .productPinkage {
  color: red;
}
#mian ul li a .wares-right .wares-right-bottom {
  margin-top: .3rem;
  color: #a1a1a1;
}
#mian ul li a .wares-right .wares-right-bottom .productFrom {
  font-size: .12rem;
}
#mian ul li a .wares-right .wares-right-bottom .productComCount {
  float: right;
}
#mian .icon {
  position: fixed;
  right: .2rem;
  bottom: 1.2rem;
}
#mian .icon .fa {
  font-size: .2rem;
}
